{% extends 'base.html.twig' %}

{% block title %}{{ 'Panel jefe de proyecto'|trans({}, 'jefeproyecto') }}{% endblock %}

{% block body %}
    <div align="right"><a href="{{ path('app_logout') }}">Salir</a></div>
    <div align="right"><a href="{{ path('jefeproyecto_profile_edit') }}">Perfil</a></div>
    <h1>{{ 'Panel jefe de proyecto'|trans({}, 'jefeproyecto') }}</h1>

    {% block option %}{% endblock %}
{% endblock %}