{% extends 'jefeproyecto/base.html.twig' %}

{% block option %}
    <h1>Editar Perfil</h1>

    {{ include('jefeproyecto/_usuario_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('jefeproyecto_proyectos_index') }}">Volver</a>

{% endblock %}
