{{ form_start(form) }}
    {{ form_widget(form.preciofinal, {'type':'number', 'lang': app.request.locale}) }}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{{ form_end(form) }}