{% extends 'base.html.twig' %}

{% block title %}{{ 'Panel de comercial'|trans({}, 'comercial') }}{% endblock %}

{% block body %}
    <div align="right"><a href="{{ path('app_logout') }}">Salir</a></div>
    <div align="right"><a href="{{ path('comercial_profile_edit') }}">Perfil</a></div>
    <h1>{{ 'Panel de comercial'|trans({}, 'comercial') }}</h1>
    {% block option %}{% endblock %}
{% endblock %}

